#warp{	
	width:960px;
	height:138px;
	margin: 0;
	background-color:#ffffff;
}
#header{	
	width:960px;
	height:138px;
	margin:0 auto;
	
}
#headerLeft{		
	width:672px; 
	height:120px;
	float:left;
}
#headerRight{	
	font-family:"나눔고딕, 돋움";
	font-size: 11px;
	color: #666666;
	width:288px;
	height:120px;
	float:left;
	background-image: url(../images/logbox2.jpg);
	background-repeat: no-repeat;
}
#headerRight .mLR {
	margin-right: 4px;
	margin-left: 4px;
}
#headerRight .logtxtbox {
	height: 16px;
	width: 134px;
	border: 1px solid #cccccc;
}
#headerRight a:link {
	color: #999999;
}
#headerRight a:visited {
	color: #999999;
}
#headerRight a:hover {
	color: #333333;
}
#headerRight a:active {
	color: #999999;
}
<!--새로운링크 -->
#headerRight .logtxt{}
#headerRight a.logtxt:link {
	color: #999999; text-decoration:none;
}
#headerRight a.logtxt:visited {
	color: #999999; text-decoration:none;
}
#headerRight a.logtxt:hover {
	color: #333333; text-decoration:none;
}
#headerRight a.logtxt:active {
	color: #999999; text-decoration:none;
}


#headerNav{	width:960px;
							float:left;
							margin:0;
							padding:0;
}
#headerNav ul{
	margin : 10px 0 0 0;
	padding:0;
	list-style:none;
	float:left;
	position:relative
	z-index:597;
	top:150px;
}
#headerNav ul li{
	float:left;
}
#headerNav ul ul{
	float:middle;
	visibility: hidden;
	position:absolute;
}
#headerNav ul li:hover ul{
visibility: visible;
}

#headerNav ul a{
	color:#fff;
	background-color:#000;
	display:block;
	width:147px;
	text-align:center;
	padding: 5px 10px 5px 10px;
	text-decoration:none;
	margin-right:1px;
	font-size:15px;
}
#headerNav ul a:hover{
	background-color:#F07C6C;
	color:#000;
}
#contents{
	width:960px;
	height:700px;
	float:left;
}
#footer{
	width:960px;	
	height:150px;
	float:left;
	}
	
	
	
	
	
#index_main{
			margin: 70px 0 0 0;
}
	
	
	
	
	
	






	
#contents_join{
	width:960px;
	height:700px;
	font-family:"나눔고딕, 돋움";
	font-size: 11px;
	border:solid #ffffff 1px;
}	
#joinpage_form{ border:2px #cccccc;
				margin:100px 0 0 200px;
				float:left;
				width:695px;
				height:580px;
				background-image:url(../images/backimg_join.jpg);
				background-repeat:no-repeat;
}
#memberinforpage_form{ border:2px #cccccc;
				margin:100px 0 0 200px;
				float:left;
				width:695px;
				height:580px;
				background-image:url(../images/backimg_member_infor.jpg);
				background-repeat:no-repeat;
}


#join_box{ border:0;
		   border-bottom:1px solid #cccccc;
}	
#join_option1{ 
		   color:#cccccc;
}

#join_table{
		margin:30px 0 0 65px;
}
#button_img1{
	border:1px solid #ff0000;
	background-color:#100000;
	color:#ffffff;
}










































ul.dropdown li {
 float: left;
 line-height: 1.3em;
 vertical-align: middle;
 zoom: 1;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}

ul.dropdown ul li {
 float: none;
}

ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}
















ul.dropdown {
 font: normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
 position: relative;
 z-index: 597;
 float: left;
 
}
	ul.dropdown li {
	 text-align:center;
	 padding: 0;
	 background-color: #000;
	 color: #fff;
	 line-height: normal;
	 width:168px;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited { color: #fff; text-decoration: none; }
	ul.dropdown a:hover { color: #76b900; text-decoration: none; }
	ul.dropdown a:active { color: #fff; }


	ul.dropdown ul {
	 width: 170px;
	 background-color: #ccc;
	 color: #fff;
	 font-size: 11px;
	 text-transform: none;
	}

		ul.dropdown ul li {
		 background-color: transparent;
		 color: #000;
		}

		
		ul.dropdown ul a:link,
		ul.dropdown ul a:visited { color: #fff; }
		ul.dropdown ul a:hover { color: #fff; text-decoration: none; }
		ul.dropdown ul a:active { color: #fff; }

		
		ul.dropdown li a {
		 display: block;
		 padding: 13px 13px 13px 13px;
		}
		ul.dropdown ul a {
		 padding: 8px 8px 8px 8px;
		 
		}

		ul.dropdown ul a:hover {
		 background-color: #76b900;	
		}

		ul.dropdown a.open {
		 background-color: #2e2e2e;
		 color: #76b900;
		}

		ul.dropdown ul a.open {
		 background-color: #76b900;
		 color: #fff;
		}
		
		
	
	
	
	
	
	
	

ul.dropdown, ul.dropdown li, ul.dropdown ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

ul.dropdown {
 position: relative;
 z-index: 597;
 float: left;
}

ul.dropdown li {
 float: left;
 line-height: 1.3em;
 vertical-align: middle;
 zoom: 1;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
 position: relative;
 z-index: 599;
 cursor: default;
}

ul.dropdown ul {
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;
}

ul.dropdown ul li {
 float: none;
}

ul.dropdown ul ul {
 top: 1px;
 left: 99%;
}

ul.dropdown li:hover > ul {
 visibility: visible;
}











