.popup{ display:none; position:absolute; top:0; left:0; width:100%; height:100%; z-index:1000; overflow : auto;}
.popup.open{ display:block; }
.popup .pbg{ position:absolute; top:0; left:0; width:100%; background:#FFF; padding-bottom: 50px; opacity:.9; }

#photopage {
	position: absolute;
	width:745px;
	left:29%;
	background-color: #FFF;
	border: 1px;
	border-style: solid;
	border-color: #000;
	margin-top: 50px;
	margin-bottom: 50px; 
}

#photopage p {
 	margin: 0px;
 }

#name {
	height: 50px;
	padding: 20px;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}

#name img {
	float: left;
	width: 50px;
	height: 50px;
 	max-width: 100%;
 	padding-right: 5px;
}

#photo {
	padding: 20px;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}

#photo p {
	padding-top: 10px;
	padding-bottom: 10px;
}

#photodetail {
	background-color: #E9E9E9;
	position: relative;
}

#photo_picture > img {
	left: 50%;
	margin-left: -175px;
	max-width: 100%;
}

#form {	
	height: 50px;
	padding: 20px;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}

#form input[type="text"] {
	width: 550px;
	height: 45px;
}

#form input[type="submit"] {
	width: 80px;
	height: 55px;
	vertical-align: auto;
	margin-bottom: 9px;
}

#form img {
	float: left;
	width: 50px;
	height: 50px;
 	max-width: 100%;
 	padding-right: 5px;
}

#comment {
	padding: 20px;
}

#comment img {
	float: left;
	width: 50px;
	height: 50px;
 	max-width: 100%;
 	padding-right: 5px;
}
